# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml
nosetests.xml
test-results/

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/

# Pyre type checker
.pyre/

# pyenv
.python-version

# IDEs and editors
.vscode/
.idea/

# Misc
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Mypy and other caches
.mypy_cache/
.ropeproject/
